.item {
    padding: 10px;
    border: solid 1px transparent;
}

.item:hover {
    background: linear-gradient(to right, #0575e6 0%, #00f260 100%);
    border-color: #aaaaaa;
    cursor: pointer;
}

.item p {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item h3 {
    text-align: center;
    color: #358abb;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form-container textarea {
    margin: 10px 0;
}

.form-container button {
    width: 100px;
}